# php composer.phar install --ignore-platform-reqs --prefer-dist
# php -S localhost:8000 -t public


# // Pour un environnement de production
# display_errors = Off;
# error_reporting(E_ALL & ~E_DEPRECATED & ~E_NOTICE); // Rapporte les erreurs, mais pas les dépréciations/notices
# log_errors = On; // Enregistre les erreurs dans un fichier de log
